<div class="form-wrap">
    <h2>{{_e("EXAMPLE OF ADMINISTRATION PAGE TO GIVE FUNCTIONALITY TO THE PLUGIN", locale)}}</h2>
    <p>{{_e("This is an example of a form action to do something with ajax when submit is clicked", locale)}}</p>    
    <form method="post" action="{{formUrl}}" class="validate">
        {{wp_nonce_field('edit', '_modelnonce')}}
        <div class="form-field form-required entry-title-wrap">
            <label for="title">Title</label>
            <input name="title" id="title" value="" type="text">
        </div>
        <p class="submit">
            <input name="submit" id="submit" class="button button-primary" value="{{_e('Save',locale)}}" type="submit">
        </p>
    </form>
</div>
<script type="text/javascript">
    jQuery(function () {
        jQuery('').click(function(){
        });
    });
</script>