<div class="wrap">
    {% if notice %}
        <div class="notice {{notice.type}} is-dismissible">
            <p>{{notice.message}}</p>
        </div>
    {% endif %}
    <h2>{{_e("TAXONOMY STATUS POPULATE DATA","bn-taxonomytype-status")}}</h2>
    <p>{{_e("In this section you can populate the data to the status from the categories info","bn-taxonomytype-status")}}</p>
    <form method="post" action="{{formUrl}}" class="validate">
        {{wp_nonce_field('populate', '_taxstatusnonce')}}
        <p class="submit">
            <input name="populate" id="populate" class="button button-primary" value="{{_e('Populate','bn-taxonomytype-status')}}" type="submit">
            <input name="delete" id="delete" class="button button-primary" value="{{_e('Delete','bn-taxonomytype-status')}}" type="submit">
        </p>
    </form>
</div>